@import 'reset.css';
/*
 * Import 3L mixins and have fun with styling your website!
 */
/*
 * From now on is the place for your awesome LESS work.
 */
/* Gridz */
.grids-wrap {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
}
.grid-inline {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
/* ----- */
body {
  font-size: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
a:focus {
  outline: none;
}
#main a {
  color: #000000;
  border-bottom: 1px solid #000000;
}
#main a:hover,
#main a:focus {
  border-color: #ffa500;
}
pre {
  font-family: monospace;
  overflow-y: auto;
  background-color: #fff;
  padding: 1em;
}
.inside {
  max-width: 980px;
  margin: 0 auto;
}
/* Heading */
h1 {
  font-size: 2.432em;
  line-height: 2.467;
  float: left;
  margin-left: 2%;
}
h2 {
  font-size: 2.432em;
  line-height: 1.7;
  margin: .8em 0;
}
#main h2 {
  border-bottom: 1px solid #424242;
  position: relative;
}
#main h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 25%;
  height: 5px;
  background-color: #424242;
}
h3 {
  font-size: 1.716em;
  font-weight: 500;
  line-height: 1;
  margin: .874em 0;
}
h4 {
  font-size: 1em;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 6em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-bottom: 10px solid #424242;
}
nav {
  float: right;
  margin-right: 2%;
  font-size: 1.716em;
  line-height: 3.495;
}
nav li {
  display: inline-block;
  margin-left: 20px;
}
nav a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #000000;
}
nav a:before {
  content: "";
  position: absolute;
  left: -100%;
  top: 2.5em;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
nav a:hover:before,
nav a:focus:before {
  left: 0;
}
#download {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 11em;
  background: #ffffff url(diamond.png);
  text-align: center;
}
#button {
  position: relative;
  display: block;
  width: 9.6154em;
  height: 2.885em;
  margin: 0 auto 3em;
  padding: .481em .481em .481em 3.125em;
  font-size: 1.3em;
  font-variant: small-caps;
  color: #fff;
  text-shadow: -1px -1px 0 #c0c0c0;
  line-height: 1.4423em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffae1a;
  background: -moz-radial-gradient(center, ellipse cover, #ffae1a 0%, #ffc966 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffae1a), color-stop(100%, #ffc966));
  background: -webkit-radial-gradient(center, ellipse cover, #ffae1a 0%, #ffc966 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffae1a 0%, #ffc966 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffae1a 0%, #ffc966 100%);
  background: radial-gradient(center, ellipse cover, #ffae1a 0%, #ffc966 100%);
  border-top: 1px solid #ffdb99;
  border-bottom: 2px solid #996300;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), 0 0 40px 10px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), 0 0 40px 10px rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), 0 0 40px 10px rgba(255, 255, 255, 0.3);
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
#button:hover {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), 0 0 40px 30px #ffffff;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), 0 0 40px 30px #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), 0 0 40px 30px #ffffff;
}
#button:active,
#button:focus {
  background: #e69500;
  background: -moz-radial-gradient(center, ellipse cover, #e69500 0%, #ffc966 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e69500), color-stop(100%, #ffc966));
  background: -webkit-radial-gradient(center, ellipse cover, #e69500 0%, #ffc966 100%);
  background: -o-radial-gradient(center, ellipse cover, #e69500 0%, #ffc966 100%);
  background: -ms-radial-gradient(center, ellipse cover, #e69500 0%, #ffc966 100%);
  background: radial-gradient(center, ellipse cover, #e69500 0%, #ffc966 100%);
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);
  -o-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom-color: transparent;
}
#button:before {
  content: "\2193";
  display: block;
  height: 65px;
  position: absolute;
  top: 7px;
  left: 17px;
  font-size: 2.404em;
  line-height: 1;
  padding-right: .36em;
  border-right: 1px solid #ffd280;
}
#main {
  position: relative;
  top: 33.95em;
  margin-bottom: 100%;
  padding-bottom: 1.5em;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: #ffffff url(square_bg.png);
  border-top: 10px solid #424242;
  *zoom: 1;
}
#main:before,
#main:after {
  content: "";
  display: table;
}
#main:after {
  clear: both;
}
.usp-container {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
}
.usp {
  width: 21%;
  margin: 0 2%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
#feat-box {
  margin-top: 3.125em;
  *zoom: 1;
}
#feat-box:before,
#feat-box:after {
  content: "";
  display: table;
}
#feat-box:after {
  clear: both;
}
.feat-radio {
  display: none;
}
label {
  display: block;
  float: left;
  clear: left;
  width: 21%;
  padding: 3px 2%;
  cursor: pointer;
}
.feat-radio:checked + label,
label:hover {
  background-color: #424242;
  color: #ffffff;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.feat-desc {
  display: none;
  float: left;
  width: 71%;
  margin: -24.39em 0 0;
  padding: 15px 2%;
  background-color: #424242;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.feat-desc pre {
  padding: 0 0 10px;
}
#feat-1:checked ~ #feat-1-desc,
#feat-2:checked ~ #feat-2-desc,
#feat-3:checked ~ #feat-3-desc,
#feat-4:checked ~ #feat-4-desc,
#feat-5:checked ~ #feat-5-desc,
#feat-6:checked ~ #feat-6-desc,
#feat-7:checked ~ #feat-7-desc,
#feat-8:checked ~ #feat-8-desc,
#feat-9:checked ~ #feat-9-desc,
#feat-10:checked ~ #feat-10-desc,
#feat-11:checked ~ #feat-11-desc,
#feat-12:checked ~ #feat-12-desc,
#feat-13:checked ~ #feat-13-desc,
#feat-14:checked ~ #feat-14-desc {
  display: block;
}
ol {
  counter-reset: li;
  overflow: hidden;
}
ol > li {
  position: relative;
  padding-left: 27%;
  margin-right: 2%;
}
ol pre {
  margin: .5em 0;
}
ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 0;
  top: -0.11em;
  display: block;
  width: 25%;
  font-size: 10.716em;
  line-height: 1;
  text-align: center;
  color: #424242;
}
li > ul,
#faq aside ul {
  list-style-type: disc;
  list-style-position: inside;
}
#faq-inside {
  width: 71%;
  margin: 0 2%;
  float: left;
}
#faq-inside p + p {
  margin-top: 1.5em;
}
#faq aside,
footer {
  width: 21%;
  margin: 0 2%;
  float: left;
  position: relative;
  margin-top: 1.5em;
}
#faq aside:before,
footer:before {
  content: "";
  position: absolute;
  left: -9.52%;
  height: 100%;
  width: 1px;
  background-color: #424242;
}
footer p + p {
  margin-top: 1em;
}
