///*
// * Import 3L mixins and have fun with styling your website!
// */

@import '3L/3L';

///* Safe-mode.
// * Use this one instead of the @import above if you're using other sets of mixins and their names overlap with 3L.
// * 
// * After using the safe-mode, the 3L's mixins are available by typing #3L > .mixin();
// */

//#3L {@import '3L/3L';} 

///*
// * Use normalize, reset and/or HTML5 Boiler Plate's CSS rules.
// */

.normalize();
//.reset();
//.h5bp();

///*
// * From now on is the place for your awesome LESS work.
// */

///*
// * LEGEND
// * 
// * b - block, for main blocks
// * b__h - header block
// * b__m - main block
// * b__s - block for all sections
// * 
// * w - wrapper, content inside blocks
// * w__branding - for header and downloads
// * 
// * inside - used for main content inside sections
// * 
// * 
// * 
// * 
// * 
// * 
// * 
// * 
// * 
// * 
// * 
// * 
// * 
// * 
// */

.help() {background-color: lightblue}

@dark: #424242;
@font: #000;

body {
	font-family: 'Dosis', 'HelveticaNeue', 'Arial', sans-serif;
}
a {
	text-decoration: none;
	color: @font;
}

.b {
	
}
.b__h {
	border-bottom: 10px solid @dark;
	
	text-align: center;
}
.b__m {
	border-top: 10px solid @dark;
}

.w__branding {
	text-align: center;
}
.w__section {
	padding: 0 .5em;
}


.brand {
	font-size: 2.432em;
	font-weight: 400;
}
.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav li {
	display: inline-block;
}
.nav a {
	display: block;
	margin: 0 .5em .5em;
	font-size: 1.716em;
}


















