@import '3L/3L';
.normalize();

.help(@color:lightblue) {background-color: @color}

@dark: #424242;
@black: #000;
@white: #fff;
@orange: #ffa500;
@font: #000;
@grey: lightgrey;

//mq
//@mq550: ~"screen and (min-width: 34em), screen and (orientation: landscape)";
//@mq550-699: ~"screen and (min-width: 34em) and (max-width: 43.99em)";
//@mq700: ~"screen and (min-width: 44em)";
//@mq900: ~"screen and (min-width: 56em)";

body {
	//font-family: 'Dosis', 'HelveticaNeue', 'Arial', sans-serif;
	//line-height: 1.5;
	
	width: 1000px;
	margin: 0 auto;
}
a {
	//text-decoration: none;
	//color: @font;
	// &:focus, &:active {
		// outline: none;
		// color: @orange;
	// }
}

.bar {
	border-bottom: 1px solid black;
}
	.bar__main {
		
	}
	.bar__social {
		border-top: 1px solid black;
	}





